html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.input {
  display: flex;
  text-align: center;
  background: #262626;
}
.input input {
  border: 1px solid #262626;
  border-radius: 15px;
  margin: 10px;
  margin: 1em;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
.tone-gen {
  display: flex;
  text-align: center;
}
.tone-gen table {
  background: #bbaa87;
  border: 5px solid #262626;
  border-radius: 5px;
  margin: 0 auto;
  padding: 40px;
}
