@dkbgcolor: #121211;
@ltbgcolor: #2F2F2F;
@offwhite: #F5FAF4;

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: @ltbgcolor;
}

.input {
	display: flex;
	margin: 10px;
	text-align: center;
	background: @offwhite;
	input {
		margin: 10px;
		margin: 1em;
		width: 100%;
		padding: 10px;
		font-size: 15px;
		text-align: center;
	}
}

.grow-gen {
	display: flex;
	margin: 10px;
	text-align: center;
	background: @offwhite;
	table {
		margin: 0 auto;
		padding: 60px 0;
	}
}
